<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AceHotel"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".features.dashboard.booking.choose_booking.ChooseBookingActivity"
            android:exported="false" />
        <activity
            android:name=".features.dashboard.management.inventory.edit_reader.EditReaderActivity"
            android:exported="false" />

        <service
            android:name="com.google.android.gms.metadata.ModuleDependencies"
            android:enabled="false"
            android:exported="false"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="com.google.android.gms.metadata.MODULE_DEPENDENCIES" />
            </intent-filter>

            <meta-data
                android:name="photopicker_activity:0:required"
                android:value="" />
        </service>

        <activity
            android:name=".features.dashboard.booking.detail.BookingDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.dashboard.booking.confirm.ConfirmBookingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.dashboard.booking.add_booking.AddBookingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.dashboard.management.visitor.choose.ChooseVisitorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.dashboard.management.visitor.add.AddVisitorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.dashboard.room.detail.RoomDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.dashboard.room.checkout.CheckoutActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.dashboard.room.checkin.CheckinActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.dashboard.room.change_price.ChangePriceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.dashboard.profile.add_franchise.AddFranchiseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.dashboard.profile.stats.OverallStatsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.dashboard.profile.manage_franchise.ManageFranchiseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.dashboard.profile.choose_hotel.ChooseHotelActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.dashboard.management.visitor.detail.VisitorDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.dashboard.management.inventory.add_item.AddItemInventoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.dashboard.management.inventory.change_stock.ChangeStockItemInventoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.dashboard.management.inventory.choose_item.ChooseItemInventoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.dashboard.management.inventory.detail.InventoryDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".features.login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.dashboard.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
    </application>

</manifest>